@using Gradebook.Foundation.Mailservice.MailTypesModels
@using Gradebook.Foundation.Mailservice.MailTypes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ActivateAccountMailType> Localizer
@model ActivateAccountMailTypeModel
@{
    Layout="~/SharedMailLayout.cshtml";
}
<p>@Localizer["hello"], @Model.Name </p>
