.cursor-pointer {
  cursor: pointer;
}

.text-reset {
  text-decoration: none;
}

.bg-grey-light {
  background-color: #f3f3f4;
}

.vh-75 {
  height: 75vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.vh-25 {
  height: 25vh !important;
}

.vh-33 {
  height: 33vh !important;
}

.vh-66 {
  height: 66vh !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.w-33 {
  width: 33% !important;
}

.accordion-header-danger > .accordion-button {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.fs-7 {
  font-size: 0.75rem !important;
}

.fs-8 {
  font-size: 0.5rem !important;
}
